<div class="loginmaindiv">
    <h1>hoopr</h1>
    <span class="hrtextfull"><span></span></span>
    <hr>
    <p>To continue, log in to Hoopr.</p>
    <button class="fbbtn"><i class="fa fa-facebook fa-fw "></i> Sign up with Facebook</button>
    <button class="googlebtn"><img src="/assets/images/google.svg" alt="" class="googlesvgsize fa-fw"> Sign up with Google</button>
    <span class="ortext"><span>or</span></span>
    <form class="loginformdiv">
        <div>
            <label for="email" class="labelclass">Email address or username</label>
            <input
              type="text"
              id="email"
              class="form-control form-control-lg "
              placeholder="Email address or username">
        </div>
        <div>
            <label for="email" class="labelclass">Password</label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg "
              placeholder="Password">
        </div>
    </form>
    <p style="margin-top: 20px;">Forgot your password?</p>
    <div class="pal">
        <div class="form-check" style="margin-right:30px;">
            <input class="form-check-input" type="checkbox" value="" id="forgot" checked>
            <label class="form-check-label" for="forgot">
              Remember me
            </label>
        </div>
        <button class="bgbutton" style="align-self  : center;">Log in</button>
    </div>
    <span class="hrtext"><span></span></span>
    <p><strong>Don't have an account?</strong></p>
    <button class="googlebtn">SIGN UP FOR HOOPR</button>
</div>
<br><br><br>