<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="mainbgdiv">
        <img src="/assets/images/bw1.jpg" class="bgimg" alt="">
        <div class="bgtext">
            <h1>PREMIUM <span style="color: #FF3567;">INDIAN</span> MUSIC TO CREATE </h1>
            <h1>TRENDING VIDEOS</h1>
            <br><br>
            <h5>India’s #1 Music Licensing Platform – Used by thousands of influencers, brands and content companies</h5>
            <br><br>
            <button class="bgbutton" routerLink="/signup">GET HOOPR</button>
        </div>
        <img src="/assets/images/bw2.jpg" class="bgimg" alt="">
    </div>
</body>
</html>
<app-footer></app-footer>