<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="mainfootdiv">
        <div class="foottextdiv">
            <h1>CONNECT</h1>
            <h1>WITH <span style="color: #FF3567;">US</span></h1>
            <br>
            <h5><i class="fa fa-envelope" aria-hidden="true"></i> hello@hoopr.in</h5>
            <br><br>
            <div class="social">
                <a href="https://www.facebook.com/hoopr.official" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square" aria-hidden="true" style="cursor: pointer;"></i></a>
                <a href="https://www.instagram.com/hoopr.ai/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true" style="cursor: pointer;"></i></a>
                <a href="https://www.linkedin.com/company/80080761/admin/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true" style="cursor: pointer;"></i></a>
            </div>
        </div>
        <img src="/assets/images/foot.png" class="footimg" alt="">
    </div>
</body>
</html>